/*dalpaeng00 님 코드팬 참고https://codepen.io/dalpaeng00/pen/dyGPezx*/
@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes done {
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

html {
  font-family: BMJUA, serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body,
div,
h1 {
  font: inherit;
  font-size: 80%;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background: 0;
}

#title {
  font-size: 3em;
  /*margin: 1em 0*/
}

#wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#numbers {
  margin-bottom: 20px;
  padding: 15px 30px 40px 30px;
  border: 2px solid pink;
  text-align: center;
}

#lotto-title {
  height: 40px;
  font-size: 30px;
  font-weight: bold;
}

#whatis-date {
  height: 45px;
  font-size: 25px;
}

.deadline {
  text-align: left;
}

.line {
  margin-top: 10px;
}

.lotto-list {
  display: block;
  line-height: 50px;
}

.list-sum {
  margin-top: 0;
}

.ball {
  width: 28px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 22px;
  text-align: center;
  display: inline-block;
}

.lotto-tag {
  width: 38px;
  height: 45px;
  line-height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 22px;
  text-align: center;
  display: inline-block;
}

#lotto-2-button {
  position: relative;
  display: block;
  padding: 1rem 2.5rem 1.6rem;
  background: #fff;
  color: #666;
  border: 2px solid #666;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.5s;
  user-select: none;
}

#lotto-2-button:hover {
  padding: 1rem 2.5rem 1rem;
  margin-top: 0.6rem;
  background: #999;
  color: #fff;
}

#lotto-2-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 0.6rem;
  width: 100%;
  background-image: repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  border-top: 1px solid #666;
  transition: 0.5s;
}

#lotto-2-button:hover::after {
  transform: translateY(0.6rem);
}

#lotto-2-button.hide {
  transform: scale(0);
}

@media screen and (max-width: 800px) {
  #numbers {
    flex-direction: column;
    align-items: center;
  }

  #numbers .ball {
    width: 22px;
    font-size: 18px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  #numbers .lotto-tag {
    width: 35px;
    font-size: 16px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .lotto-list {
    height: 38px;
  }

  #publish-day {
    font-size: 12px;
  }

  #raffle-day {
    font-size: 12px;
  }

  #payments-day {
    font-size: 12px;
  }

  #lotto-title {
    font-size: 25px;
  }

  #whatisdate {
    font-size: 21px;
  }

  #numbers .ball:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .input-box {
    max-width: 400px !important;
  }
}

div {
  display: block;
}

.loader {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
}

.loader h4 {
  font-size: 1.2rem;
  text-align: center;
  color: red;
}

.lotto-infoNum {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  margin: auto auto 2.5rem;
  width: 100%;
}

.lotto-infoNum .input-box {
  width: 85%;
  border: 2px solid pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-box .number {
  display: flex;
}

.lotto-infoNum .input-box p {
  font-size: 1rem;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem;
  font-weight: 500;
}

span {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0.5rem;
  font-size: 1rem;
}

.select-date {
  padding: 0.5rem 0.5rem;
  margin: 0.25rem;
  font-size: 1.125rem;
}

button {
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  margin: 0.125rem;
}
